# Auto detect text files and perform LF normalization
* text=auto
*.pxd linguist-detectable=false
*.pyc linguist-detectable=false
*.cortran linguist-detectable=false
*.c linguist-detectable=false
*.c++ linguist-detectable=false
*.pxd linguist-generated=false
*.pyc linguist-generated=false
