# Auto detect text files and perform LF normalization
* text=auto
*.pxd linguist-detectable=cython
*.pyc linguist-detectable=cython
*.fortran linguist-detectable=false
*.c linguist-detectable=false
*.c++ linguist-detectable=false
*.pxd linguist-generated=false
*.pyc linguist-generated=false
